---
import '../styles/globals.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = 'My Home Page';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
	  <Header />
	  <h1>{pageTitle}</h1>
	  <div id="div1">some text</div> 
	  <div id="bk"></div>
	  <Footer />
	  <script>
		function addElement() {
  			// create a new div element
  			const newDiv = document.createElement("div");

			// and give it some content
			const newContent = document.createTextNode("Hi there and greetings!");

			// add the text node to the newly created div
			newDiv.appendChild(newContent);

			// add the newly created element and its content into the DOM
			const currentDiv = document.getElementById("div1");
			document.body.insertBefore(newDiv, currentDiv);
		}
		addElement()
		const mb = document.createElement("button");
		const ntext = document.createTextNode('My Button');
		mb.appendChild(ntext);
		const mydiv = document.getElementById('bk');
		console.log(mb);
		document.body.insertBefore(mb, mydiv);

		// add click event to 'hamburger'
		document.querySelector('.hamburger')?.addEventListener('click', () => {
		  	// select the navigation div and add or remove the .expanded class
		  	// this will show or hide the navigation links
			document.querySelector('.nav-links')?.classList.toggle('expanded');
		});
	  </script>
	</body>
</html>
