---
// import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
//import LogRocketTodos from '../components/solid/logrocketTodo';
import LogRocketTodos2 from '../components/solid/logrocketTodo2';
---

<Layout title="My Todo List with LogRocket" description="A simple todo list built with Astro and Solid, integrated with LogRocket.">
<!-- <LogRocketTodos client:load /> -->
 <main class="h-screen py-10 px-5 bg-gray-100 dark:bg-gray-900">
    <LogRocketTodos2 client:load />
</main>
</Layout>
