---
import '../styles/global.css';
//import LogRocketTodos from '../components/solid/logrocketTodo';
import LogRocketTodos2 from '../components/solid/logrocketTodo2';
---

<!-- <LogRocketTodos client:load /> -->
 <main class="h-screen py-10 px-5 bg-gray-100 dark:bg-gray-900">
    <LogRocketTodos2 client:load />
</main>