---
import '../styles/global.css';
// import {todos} from '../assets/data/todos';
import TodoList2 from '../components/solid/todosList2';
---
<main class="h-screen py-10 px-5 bg-gray-100 dark:bg-gray-900">
    <TodoList2 client:load />
</main>